@page "/counter"
@    using EzNutrition.Shared;
    using EzNutrition.Shared.Data.Entities;
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@if (eers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>AgeMin</th>
                <th>Gender</th>
                <th>PAL</th>
                <th>AvgBwEER</th>
                <th>BEE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eer in eers)
            {
                <tr>
                    <td>@eer.AgeStart</td>
                    <td>@eer.Gender</td>
                    <td>@eer.PAL</td>
                    <td>@eer.AvgBwEER</td>
                    <td>@eer.BEE</td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private List<EER>? eers;

    private async Task IncrementCount()
    {

        eers = await Http.GetFromJsonAsync<List<EER>>("Energy/EERs/男/18");
    }
}
