@page "/maintreatment"
@using EzNutrition.Client.Models;
@using EzNutrition.Client.Services;
@using EzNutrition.Shared.Utilities;
@using EzNutrition.Shared.Data.Entities;
@using System.Text;
@inject UserSessionService UserSession
@inject NavigationManager Navigation
@inject MainTreatmentViewModel MaintreatmentVM
@inject IMessageService Message
<GridRow Gutter="(16,16)" OnBreakpoint="HandleBreakpoint">
    @* IClient Information *@
    <GridCol Xl="12" Sm="24" Xs="24">
        <Title Level="2">基本信息</Title>
        @if (isClientInfoFormEnabled)
        {
            <Form Model="@MaintreatmentVM.CurrentClient" LabelAlign="AntLabelAlignType.Left">
                <FormItem Label="姓名">
                    <Input Placeholder="其实输不输都行，反正服务器不会存档和记录" id="name" class="form-control" @bind-Value="context.Name" />
                </FormItem>
                <FormItem Label="性别">
                    <RadioGroup TValue="string" id="gender" @bind-Value="context.Gender">
                        <Radio RadioButton Value="@("男")">男</Radio>
                        <Radio RadioButton Value="@("女")">女</Radio>
                    </RadioGroup>
                </FormItem>
                <FormItem Label="年龄">
                    <AntDesign.InputNumber TValue="int" id="age" Step="1" @bind-Value="context.Age" Min="0" />
                </FormItem>
                <FormItem Label="身高（cm）">
                    <Input @bind-Value="context.Height" type="number" min="0" />
                </FormItem>
                <FormItem Label="体重（kg）">
                    <Input @bind-Value="context.Weight" type="number" min="0" />
                </FormItem>
                <FormItem Label="特殊生理状况">
                    <RadioGroup TValue="string" id="specialPhysiologicalPeriod" @bind-Value="context.SpecialPhysiologicalPeriod">
                        <Radio RadioButton Value="@string.Empty">无</Radio>
                        <Radio RadioButton Value="@("孕早期")">孕早期</Radio>
                        <Radio RadioButton Value="@("孕中期")">孕中期</Radio>
                        <Radio RadioButton Value="@("孕晚期")">孕晚期</Radio>
                        <Radio RadioButton Value="@("乳母")">乳母</Radio>
                        <Radio RadioButton Value="@("已绝经")">已绝经</Radio>
                    </RadioGroup>
                </FormItem>

                <Button Type="@ButtonType.Primary" @onclick="OnCalculateBtnClick">确定</Button>
            </Form>
        }
        else
        {
            <Descriptions Title="@MaintreatmentVM.CurrentClient.Name">
                <DescriptionsItem Title="性别">@MaintreatmentVM.CurrentClient.Gender</DescriptionsItem>
                <DescriptionsItem Title="年龄">@MaintreatmentVM.CurrentClient.Age</DescriptionsItem>
                <DescriptionsItem Title="身高（cm）">@MaintreatmentVM.CurrentClient.Height</DescriptionsItem>
                <DescriptionsItem Title="体重（kg）">@MaintreatmentVM.CurrentClient.Weight</DescriptionsItem>
                <DescriptionsItem Title="特殊生理状况">@MaintreatmentVM.CurrentClient.SpecialPhysiologicalPeriod</DescriptionsItem>
            </Descriptions>
            @if (MaintreatmentVM.CurrentBreakpoint >= BreakpointType.Xl)
            {
                @* Advices in pc is here *@
                <Skeleton />
            }
        }
    </GridCol>
    <GridCol Xl="12" Sm="24" Xs="24">
        @if (isClientInfoFormEnabled)
        {
            @* ITreatments *@
            @if (MaintreatmentVM.CurrentBreakpoint >= BreakpointType.Xl)
            {
                @* Cover letter is here *@
                <Skeleton />
            }
        }
        else
        {
            @* ITreatments *@
            @if (MaintreatmentVM.CurrentBreakpoint >= BreakpointType.Xl)
            {
                <Segmented Block Size="SegmentedSize.Large" TValue="string" Labels=@(new[]{"能量评估", "参考摄入量", "膳食调查"}) Value=@currentTreatment OnChange=@setValue />
            }

            @if ((MaintreatmentVM.CurrentBreakpoint < BreakpointType.Xl || currentTreatment == "能量评估") && MaintreatmentVM.CurrentEnergyCalculator is not null)
            {
                <EnergyCalculatorTreatment EnergyCalculator="MaintreatmentVM.CurrentEnergyCalculator" />
            }
            @if ((MaintreatmentVM.CurrentBreakpoint < BreakpointType.Xl || currentTreatment == "参考摄入量") && MaintreatmentVM.DRIs is not null)
            {
                <DRIsInSightTable NutrientRanges="MaintreatmentVM.DRIs.NutrientRanges" />
            }
            @if (MaintreatmentVM.CurrentBreakpoint < BreakpointType.Xl || currentTreatment == "膳食调查")
            {
                <Paragraph>施工中</Paragraph>
            }

            @if (MaintreatmentVM.CurrentBreakpoint < BreakpointType.Xl || currentTreatment == "门诊病史")
            {
                <Paragraph>施工中</Paragraph>
                @* 主诉与症状 *@
                @* 现病史 *@
                @* 查体 *@
                @* 既往史 *@
                @* 辅助检查 *@
                @* 诊断 *@
            }
        }

        @if (MaintreatmentVM.CurrentBreakpoint < BreakpointType.Xl)
        {
            <Skeleton />
        }
    </GridCol>
</GridRow>

@code {

    bool isClientInfoFormEnabled = true;

    string currentTreatment = "能量评估";

    void setValue(string value)
    {
        currentTreatment = value;
    }

    void HandleBreakpoint(BreakpointType breakpoint)
    {
        MaintreatmentVM.CurrentBreakpoint = breakpoint;
    }

    private async void OnCalculateBtnClick(MouseEventArgs e)
    {
        if (MaintreatmentVM.CurrentClient.Gender == null)
        {
            Message.Equals("性别不能为空");
            return;
        }
        else
        {
            await MaintreatmentVM.ClientInfoConfirmed();
            isClientInfoFormEnabled = false;
        }
    }
}
